OPENAI_API_KEY=KEY_ĐẶT_Ở_ĐÂY
GEMINI_API_KEY=KEY_ĐẶT_Ở_ĐÂY
GEMINI_MODEL_NAME=gemini-2.0-flash-thinking-exp-01-21
POSTGRES_DRIVER=postgresql
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres